/******************************Counter App in Angular*************************/


.btn{
    width: 80px;
    height: 80px; 
    border-radius: 50%;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.btn:hover{
    border: 1px solid #fff;
}

.count{
    width: 100px;
    background: grey;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
} 
    





/****************************** Event in Angular *************************/

/* No Css required for this.  */





/******************************Get & Set Input fields Values in Angular*************************/

/* No Css required for this.  */





/**********************************If Else in Angular | Hide-Show | Toggle*******************************/

/* No Css required for this.  */





/***********************************Else If in Angular | Control **************************************/

/* No Css required for this.  */